body
{
    background-color:gold;
}
/*style for burger pic*/
.burgerPic
{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
/*burger title css*/
#title
{
    color: crimson;
    text-align: center;
}
/*style burger names*/
#burgername
{
    height: 60px;
    width: 280px;
}
/*style the button*/
#devour
{
    display: none;
}
/*style for once the user click on the devour button*/
#notdevour
{
    display: none;
}
/*style for the burgers waiting for devour*/
.wait
{
    background-color: wheat;
    height: 30px;
    margin-bottom: 5px;
    float: left;
    width: 230px;
    margin-right: 3px;
}
/*style for the burgers not waiting for devour*/
.nowait
{
    background-color: white;
    color: grey;
    height: 25px;
    margin-bottom: 1px;
    float: left;
    width: 230px;
    margin-right: 3px;
}
/*for the list exclude the boolen points*/
.list
{
    list-style-type: none;
}