body
{
    background-color:rgb(56, 136, 116);
}

.burgerpix
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    /* width: 100px;
    height: 100px;
    margin-top: 130px;
    margin-right: 110px; */
}

#title
{
    color: white;
    text-align: center;
}

#burgername
{
    height: 60px;
    width: 280px;
}

#devour
{
    display: none;
}

#notdevour
{
    display: none;
}

.wait
{
    background-color: wheat;
    height: 30px;
    margin-bottom: 5px;
    float: left;
    width: 230px;
    margin-right: 3px;
}

.nowait
{
    background-color: white;
    color: rgb(238, 115, 115);
    height: 25px;
    margin-bottom: 1px;
    float: left;
    width: 230px;
    margin-right: 3px;
}

.list
{
    list-style-type: none;
}